<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
    <table border="4" align="center" cellpadding="10" style="border-collapse: collapse;" >
    <tr>
        <td>Name</td>
        <td><input type="text" name="txtname" id=""value="{{mech.mech_name}}"></td>
    </tr>
    <tr>
        <td>Contact</td>
        <td><input type="text" name="txtcontact" id=""value="{{mech.mech_contact}}"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text" name="txtemail" id=""value="{{mech.mech_email}}"></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" name="txtaddress" id=""value="{{mech.mech_address}}"></td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <input type="submit" name="save" value="Update">
            <input type="submit" name="save" value="Cancel"></td>    
    </tr>
</table>
</form> 
</body>
</html>