{% extends 'Guest/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Conditions</title>
    <style>
        li{ margin-left: 200px;
            margin-right: 180px;
            font-size: 18px;
            
        }
        u{
            font-weight: bold;
        }
       
        h5{
            margin-left: 150px;
            margin-right: 180px;
        }
        b{
            font-size: 18px;
            margin-left: 200px;
            margin-right: 180px;
        }
        .pi{
            font-size: 18px;
            margin-left: 200px;
            margin-right: 180px;
            font-weight: 599 ;
        }
    </style>
</head>
<body>
    <br>
    <br>
    <center><h1>Terms and Conditions for Mechanics</h1></center>
    <br>
    <center><h4>Welcome to AutoAid, the on-road vehicle assistance platform. As a mechanic partner with AutoAid, you agree to abide by the following terms and conditions while using our platform.</h4></center>
    <center><h5 style="margin-left:150px; margin-right:180px;">Please read these terms and conditions carefully before registering as a Mechanic Partner with us. By registering as a Mechanic Partner, you agree to be bound by the following terms and conditions:</h5></center>
          
    <br>
	<ul>
        <h5>Mechanics' Obligations</h5>
        <b> As a mechanic partner, </b>
        <li>You agree to provide accurate and complete information about your business, including your name, address, phone number, email address, and any other information requested during the registration process. You also agree to update this information as needed to ensure that it remains accurate and complete.</li>
		<li>You must have the appropriate training, certification, and insurance to provide vehicle repair services.</li>
        <li>AutoAid reserves the right to verify the information you provide during registration, including conducting background checks and verifying your business license and insurance.        </li>
        <li class="pi"><u>Service : </u> Mechanics are expected to diligently assess the booking information furnished by the customer and only proceed to accept the request if they possess the requisite expertise and proficiency to deliver the service in a competent and professional manner. This is imperative to ensure the safety of both the vehicle and the customer, and to maintain the high standards of service expected from AutoAid.</li>
        <li>You must provide high-quality services in a professional and timely manner.</li>
        <li>You must comply with all applicable laws and regulations related to vehicle repair services.</li>
        <li>You must not discriminate against any customer on the basis of race, gender, age, religion, or any other factor.</li>
        <li>You must adhere to AutoAid's policies and guidelines for mechanics, as outlined in the Mechanics Handbook.</li>
        <li><u>Pricing :</u>You may not charge customers higher prices than the standard pricing for the respective repair, unless the repair requires additional work or parts not included in the standard pricing.</li>
		<li>You must maintain a high level of customer satisfaction and resolve any complaints or disputes in a fair and timely manner.</li>
		<li><u>Privacy :</u>You must protect the privacy and security of customer information and maintain confidentiality at all times.</li>
		<li>You agree to provide high-quality service to AutoAid customers, and to respond promptly to service requests. You also agree to use only high-quality parts and materials, and to perform all services in accordance with industry best practices.        </li>
        <li>You agree to indemnify and hold harmless AutoAid, its affiliates, and its officers, directors, employees, and agents, from any and all claims, damages, or losses arising from your provision of services to AutoAid customers.        </li>
        <li> <u>Termination :</u> AutoAid reserves the right to terminate your registration at any time, for any reason, including but not limited to violation of these terms and conditions or failure to maintain high-quality service standards.        </li>
        <br><br>
    </ul>
	<center><h4>By registering as a Mechanic on AutoAid, you acknowledge that you have read and agree to these terms and conditions. <br>Failure to comply with these terms may result in termination of your partnership with AutoAid.</h4></center>
<br><br><br><br><br><br><br><br><br>
</body>
</html>

{% endblock content %}