{% extends 'Guest/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        	.wernnn{
			font-size: 21px;
			font-weight: bold;
			color: rgb(241, 16, 16);
			position: absolute;
		}
		body {
  position: relative;
  background-image: url('{% static 'Main/img/ferrarisf903.jpg' %}');
  background-repeat: no-repeat;
  background-size: cover;
}

body::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5); /* Change the opacity value as desired */
			z-index: -1;
		}
        .tble {
 color: rgb(255, 255, 255);
 font-weight: bolder;
 font-size: 18px;
 background-color: rgb(6, 4, 78);
 border-collapse: collapse;}
.tble1 {
color: rgb(0, 0, 0);
font-weight: bold;
font-size: 18px;
border-collapse: collapse;
}
td, th {
 height: 50px;
 width: 100px;

 }
tr:nth-child(even):not(:first-child) {
     background-color: #f5de8a;
     }

tr:nth-child(odd):not(:first-child) {
     background-color: #f5de8a;
     }
     table{
    opacity: 85%;
 }

</style>
</head>
<body>
    <br>
    <br>
    <form action="" method="post" id="MechForm" enctype="multipart/form-data" data-district-url="{% url 'projectadmin:Ajax-place' %}"  data-place-url="{% url 'projectadmin:Ajax-localplace' %}" data-mechplace-url="{% url 'Guest:Ajax-mechplace' %}">
        {% csrf_token %}

        <table border="9" align="center" width="45%">
            <tr style="background-color: #f5de8a;">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr style="background-color: #f5de8a;"> <td  align="center" colspan="2"  ><h2 style="color: rgb(0, 0, 0);">Sign-Up</h2></td></tr>
            <tr style="background-color: #f5de8a;">
                
            </tr>
            <tr class="tble1"align="center">
                <td>Name</td>
                <td><input type="text" name="txtusrname" size="30px" required="" autocomplete="off" placeholder="  Enter your Name"></td>
            </tr>
            <tr class="tble1"align="center">
                <td>Contact</td>
                <td><input type="text" name="txtusrcontact" size="30px" required="" autocomplete="off" minlength="10" maxlength="10"  placeholder="  Enter your Phone No"></td>
            </tr>
            <tr class="tble1"align="center">
                <td>E-mail</td>
                <td><input type="email" name="txtusremail" id="" size="30px" required="" autocomplete="off"  placeholder="  Enter your Email-id"></td>
            </tr>
            <tr class="tble1"align="center">
                <td>Address</td>
                <td><textarea name="txtusraddress" id="" cols="35" rows="4" required="" autocomplete="off"  placeholder="  Enter your Residential Address"></textarea></td>
            </tr>
            <tr class="tble1"align="center">
                <td>Gender</td>
                <td>
                    <input type="radio" name="usrrdo" value="Male" > M 
                    <input type="radio" name="usrrdo" value="Female"> F 
                    <input type="radio" name="usrrdo" value="Other"> O 
                </td>
            </tr>
            <tr class="tble1"align="center">
                <td>State</td>
                <td><select name="statedrop" id="statedrop" required="" autocomplete="off">
                    <option value=""> -SELECT- </option>
                    {% for i in state %}
                    <option value="{{i.id}}">{{i}}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr class="tble1"align="center">
                <td>District</td>
                <td><select name="distdrop" id="distdrop" required="" autocomplete="off">
                    <option value=""> -SELECT- </option>
                    <option value=""></option>
                </select></td>
            </tr>
            <tr class="tble1"align="center">
                <td>Place</td>
                <td><select name="selplace" id="selplace" required="" autocomplete="off">
                    <option value=""> -SELECT- </option>
                    <option value=""></option>
                </select></td>
            </tr>
            <tr class="tble1"align="center">
                <td>Local-Place</td>
                <td><select name="localplace" id="localplace" required="" autocomplete="off">
                    <option value=""> -SELECT- </option>
                    <option value=""></option>
                </select></td>
            </tr>
            <tr class="tble1"align="center">
                <td>Photo</td>
                <td><input type="file" name="usrphoto" id="" required="" autocomplete="off" placeholder="Choose a photo to set as your rofile photo"></td>
            </tr>
            <tr class="tble1"align="center">
                <td>D.O.B</td>
                <td>
                    <input type="date" name="usrdob" id="" required="" autocomplete="off">
                </td>
            </tr>
            <tr class="tble1"align="center">
                <td>Password</td>
                <td><input type="password" name="pswd" id="" size="30px" required="" autocomplete="off"  placeholder="  Use a Strong Password "></td>
            </tr>
            <tr class="tble1"align="center">
                <td>Confirm Password</td>
                <td><input type="password" name="" id="" size="30px" required="" autocomplete="off"  placeholder="  Re enter your Password" ></td>
            </tr>
            <tr>
                <td><br></td>
                <td><br></td>
            </tr>
            <tr class="tble1"align="center">
                <td colspan="2" align="center">
                    <input type="submit" name="btns" value=" Register ">
                    <input type="reset" value=" CANCEL " name="clr">
                </td>
            </tr>
            <tr>
                <td><br></td>
                <td><br></td>
            </tr>
        </table>
        <br><br><br><br><br><br><br><br><br>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#statedrop").change(function () {
        var did = $(this).val();
        var ur = $("#MechForm").attr("data-district-url");
        $.ajax({
            url: ur,
            data: { disd: did, },
            success: function (data) {
                $("#distdrop").html(data);
            },
        });
    });
    $("#distdrop").change(function () {
        var did = $(this).val();
        var ur = $("#MechForm").attr("data-place-url");
        $.ajax({
            url: ur,
            data: { isdd: did, },
            success: function (data) {
                $("#selplace").html(data);
            },
        });
    });
    $("#selplace").change(function () {
        var did = $(this).val();
        var ur = $("#MechForm").attr("data-mechplace-url");
        $.ajax({
            url: ur,
            data: { lpdd: did, },
            success: function (data) {
                $("#localplace").html(data);
            },
        });
    });
</script>
</body>
</html>

{% endblock content %}